<footer class="footer">
    <div class="has-thin-border-top">
        <div class="container container--large">
            <div class="footer__legal">
                <span>© 2020 Cook Book</span>
                <a href="#">Crédits</a>
            </div>
        </div>
    </div>
</footer>