<header>
    <nav>
        <a href="/">Cook Book</a>
        <ul>
            <li><a href="/ingredients">Ingrédients</a></li>
            <li><a href="/ingredients/ajouter">Ajouter un ingrédient</a></li>
            <li><a href="/recettes">Recettes</a></li>
            <li><a href="/recettes/ajouter">Ajouter une recette</a></li>
        </ul>
    </nav>
</header>