<header>
    <nav>
        <a href="/">Cook Book</a>
        <ul>
            <li><a href="/ingredients">Ingrédients</a></li>
            <li><a href="/ingredients/nouveau">Ajouter un ingrédient</a></li>
        </ul>
    </nav>
</header>