<div class="container section">
    <div class="banner crossroad">
        <h1 class="title--page banner__title">Dashboard</h1>
        <div class="crossroad__option crossroad__option--ingredient">
            <a href="/ingredients/ajouter" class="crossroad__cta">
                <div class="border--hover">
                    <div></div>
                </div>
                <img src="../../img/petits-pois-haricots.png" alt="Trois petits pois et deux haricots illustrés" width="300">
                Ajouter un ingrédient
            </a>
        </div>
        <div class="crossroad__option crossroad__option--recette">
            <a href="/recettes/ajouter" class="crossroad__cta">
                <div class="border--hover">
                    <div></div>
                </div>
                <img src="../../img/econome-couteau.png" alt="Desustensiles de cuisine illustrés" width="300">
                Ajouter une recette
            </a>
        </div> 
    </div>
</div>
<section class="container section--pb thumbnails">
    <h2 class="title--section is-centered">Les dernières recettes publiées</h2>
    <%- include('../partials/thumbnails_grid.ejs', { recettes: recettes }) %> 
</section>