<div class="container section">
    <div class="banner">
        <h1 class="title--page banner__title">Dashboard</h1>
        <div class="crossroad container--2col">
            <div class="crossroad__option">
                <a href="/ingredients/ajouter">
                    Ajouter une recette
                </a>
            </div>
            <div class="crossroad__option">
                <a href="/recettes/ajouter">
                    Ajouter un ingrédient
                </a>
            </div>
        </div>
    </div>
</div>
<section class="container section--pb thumbnails">
    <h2 class="title--section is-centered">Les dernières recettes publiées</h2>
    <%- include('../partials/thumbnails_grid.ejs', { recettes: recettes }) %> 
</section>