<div class="container section">
    <div class="banner">
        <h1 class="title--page banner__title">Cook book</h1>
        <figure class="banner__img">
            <img src="/img/salade-nadine-primeau-unsplash.jpg" alt="Vue sur une assiette contenant une salade et divers ingrédients et herbes autour">
        </figure>
        <div class="banner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non at cum vero consectetur, architecto voluptate, molestiae nesciunt reiciendis commodi itaque voluptas magnam animi cumque eius aut illo quibusdam ex asperiores!</div>
    </div>
</div>
<section class="container section--pb thumbnails">
    <h2 class="title--section is-centered">Les dernières recettes</h2>
    <%- include('partials/thumbnails_grid.ejs', { recettes: recettes }) %> 
</section>