<div class="container section">
    <div class="banner">
        <h1 class="title--page banner__title">Cook book</h1>
        <figure class="banner__img">
            <img src="/img/salade-nadine-primeau-unsplash.jpg" alt="Vue sur une assiette contenant une salade et divers ingrédients et herbes autour">
        </figure>
        <div class="banner__description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia alias voluptas ipsum molestias rerum nisi velit quisquam nihil eum, laborum eveniet voluptate? Neque tenetur natus, aliquid quisquam delectus veniam porro.</p>
            <p>Quidem, est quibusdam explicabo tempora ipsa numquam! Quidem quibusdam excepturi quas ipsum qui accusamus vel mollitia facilis distinctio ad, impedit nesciunt eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat iste modi nihil eaque dolorum voluptas iure aspernatur eos obcaecati deserunt, non, quam aut animi labore optio vero error corporis mollitia?</p>
        </div>
    </div>
</div>
<section class="container section--pb thumbnails">
    <h2 class="title--section is-centered">Les dernières recettes</h2>
    <%- include('partials/thumbnails_grid.ejs', { recettes: recettes }) %> 
</section>