<div class="container">
    <div class="grid grid--12">
        <h1 class="title--page">Cook book</h1>
    </div>
</div>
<section class="container">
    <h2 class="title--section is-centered">Les dernières recettes</h2>

    <div class="grid grid--12">
        <% recettes.forEach(recette => { %> 
            <%- include('partials/thumbnails_grid.ejs', { recettes: recettes, large: true }) %> 
        <% }) %> 
    </div>
</section>