<div class="grid grid--top">
    <h1 class="title--page">Cook book</h1>
</div>

<section>
    <h2 class="title--section is-centered">Les dernières recettes</h2>

    <% recettes.forEach(recette => { %> 
        <%- include('partials/thumbnails_grid.ejs', { recettes: recettes, large: true }) %> 
    <% }) %> 
</section>