<h1>Editer l'ingrédient</h1>

<form action="/ingredients/<%= ingredient.slug %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %> 
    <a href="/ingredients/<%= ingredient.slug %>">Annuler</a>
    <button type="submit">Enregistrer mes modifications</button>
</form>