<div class="container section">
    <h1 class="title--section is-centered">Editer l'ingrédient</h1>
    <div class="form__container">
        <%- include('../partials/alert_message.ejs') %>
        <form action="/ingredients/<%= ingredient.slug %>?_method=PUT" method="POST">
            <%- include('_form_fields.ejs') %> 
           <div class="action__btns action__btns--right margin-top--m">
            <a href="/ingredients/<%= ingredient.slug %>" class="btn btn--mute">Annuler</a>
            <button type="submit" class="btn btn--primary">Enregistrer</button>
           </div>
        </form>
    </div>
</div>