<h1>Ajouter un nouvel ingrédient</h1>

<form action="/ingredients" method="POST">
    <%- include('_form_fields.ejs') %> 
    <a href="/ingredients">Annuler</a>
    <button type="submit">Ajouter</button>
</form>