<div class="container section">
    <h1 class="title--section is-centered">Identifiez-vous</h1> 
    <div class="form__container">
        <%- include('../partials/alert_message') %>
        <form action="/authentification/login" method="POST"> 
            <div class="form__item">
                <label for="email" class="is-input-required">E-mail</label>
                <input id="email" type="email" value="<%= typeof email !='undefined' ? email : '' %>" name="email" placeholder="Exemple : michel.dupont@gmail.com" autocomplete="off" required>
            </div>
            <div class="form__item">
                <label for="password" class="is-input-required">Mot de passe</label>
                <input id="password" type="password" value="<%= typeof password !='undefined' ? password : '' %>" name="password" autocomplete="off" required>
            </div>
            <div class="action__btns action__btns--right margin-top--m">
                <a href="/" class="btn btn--mute">Annuler</a>
                <button type="submit" class="btn btn--primary">S'identifier</button>
            </div>
        </form>
    </div>
</div>