
@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/utilities.css';
@import 'shared/headings.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/header.css';
@import 'shared/footer.css';
@import 'shared/thumbnails_grid.css';
@import 'shared/banner.css';
@import 'shared/recettes.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ==========================================================================
   Base
   ========================================================================== */

:root {
    background: #fff;
    font-size: 62.5%;
    text-size-adjust: 100%;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.618;
    color: var(--color-dark);
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: square;
}