.banner {
    display: grid;
    grid-column-gap: calc(var(--space-unit) * 2);
    grid-row-gap: 1em;
}

.banner__title {
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0;
}

.banner__img {
    overflow: hidden;
}

.banner__img img {
    object-fit: cover;
    height: 100%;
}



/* ==========================================================================
    RESPONSIVE
    ========================================================================== */

@media screen and (min-width: 680px) {
    .banner {
        grid-template-columns: repeat(12, 1fr);
    }
    .banner__title {
        grid-column: 1 / -1;
    }
    .banner__img {
        grid-column: 1 / 9;
    }
    .banner__description {
        grid-column: 9 / -1;
    }
}

@media screen and (min-width: 960px) {
    .banner {
        grid-template-columns: repeat(13, 1fr);
    }
    .banner__img {
        grid-column: 2 / 10;
    }
    .banner__description {
        grid-column: 10 / -1;
    }
    .banner__title {
        grid-column: 1;
        margin: 0;
        text-align: left;
    }
}