h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0.72em;
}   

.title--page,
.title--item,
.title--article,
.title--category,
.title--detail {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.title--section,
.title--thumbnail,
.title--ingredient {
    font-family: 'Playfair Display', serif;
}

.title--page {
    font-size: 4rem;
    font-size: calc(4rem + (9 - 4) * (100vw - 320px) / (960 - 320));
    font-weight: 900;
    line-height: 120%;
}

.title--article {
    margin: 0.5em 0 0.5em 0;  
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 120%;
}

.title--section {
    font-size: 3.9rem;
    line-height: 1.2;
}

.title--thumbnail {
    font-size: 2.5rem;
    line-height: 1.168;
}

.title--category {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.title--ingredient {
    margin-bottom: 1em;
    font-size: 2.4rem;
    color: var(--color-accent);
}

.title--detail {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

/* ==========================================================================
    RESPONSIVE
    ========================================================================== */

@media screen and (min-width: 960px) {
    .title--page {
        font-size: 9rem;
        line-height: 80%;
        writing-mode: vertical-lr;  
    }
}
