
/* ==========================================================================
   Layout
   ========================================================================== */

.actions-nav_container,
.main-nav_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.actions-nav_container {
    justify-content: flex-end;
}

.main-nav_container {
    justify-content: space-around;
} 


/* ==========================================================================
   Nav global
   ========================================================================== */

nav ul {
    padding-left: 0;
    list-style: none;
}

nav a {
    transition: 0.3s;
    text-decoration: none;
    color: var(--color-dark);
}

nav a:hover,
nav a:focus {
    color: var(--color-accent);
}


/* ==========================================================================
    Spacing
    ========================================================================== */

.main-nav {
    padding: calc(var(--space-unit) * 1) 0;
}

.actions-nav_item {
    margin-right: calc(var(--space-unit) * 2);
}

/* ==========================================================================
    Style
    ========================================================================== */

.actions-nav_item a,
.main-nav_item a {
    font-family: 'Lato', serif;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.main-nav_item a {
    font-weight: 700;
    position: relative;
}

.actions-nav_item a {
    font-size: 1.4rem;
    font-weight: 400;
}

.username-nav_item {
    font-family: 'Playfair Display', serif;
    color: var(--color-accent);
}

.main-nav_item.is-active a:before {
    content: '';
    position: absolute;
    top: 30%;
    left: -8px;
    right: -8px;
    transform: rotate(-3deg);
    height: 100%;
    background: url('../../img/trace-light-green.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* ==========================================================================
    Logo
    ========================================================================== */

.main-nav_logo {
    overflow: hidden;
    width: 180px;
    height: 68px;
}

.main-nav_logo span {
    text-indent: -9999px;
}

.main-nav_logo.is-desktop {
    display: none;
}

.main-nav_logo.is-mobile {
    margin: auto;
    margin-bottom: calc(var(--space-unit) * 2);
}

@media screen and (min-width: 800px) {
    .main-nav_logo.is-mobile {
        display: none;
    }
    .main-nav_logo.is-desktop {
        display: inline-block;
    }
}