.recette__presentation {
    border-bottom: var(--thick-border);
    padding-bottom: calc(var(--space-unit) * 3);
    text-align: center;
}

.recette__presentation_ing {
    display: inline-block;
    border-top: var(--thin-border-accent);
    border-bottom: var(--thin-border-accent);
    padding: 0.33em 0 0.5em;
}

.recette__presentation_item {
    margin: 2em 2em 0;
}

@media screen and (min-width: 480px) {
    .recette__presentation_row {
        display: flex;
        justify-content: center;
        padding-top: 1em;
        margin-top: 0;
    }
    .recette__presentation_item {
        margin: 0 2em;
    }
}

@media screen and (max-width:479px) {
    .recette__presentation_row .title--detail {
        margin-bottom: 0;
    }
}

.recette__presentation_item p {
    margin-top: 0;
}

.recette__actions {
    border-top: var(--thin-border);
}

.recette__details_ingredients ul,
.recette__details_ingredients ol {
    padding-left: 1.2em;
}

.recette__details_ingredients li,
.recette__steps li {
    margin-bottom: 1em;
}

.recette__steps ol {
    counter-reset: li;
    list-style: none;
    padding-left: 0;
}

.recette__steps li {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 4em;
    min-height: 3em;
}

.recette__steps li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: -4em;
    width: 3em;
    height: 3em;
    border: 2px solid currentColor;
    border-radius: 50%;
    font-weight: 700;
    color: var(--color-accent);

}
