.recette__presentation {
    border-bottom: var(--thick-border);
    padding-bottom: calc(var(--space-unit) * 3);
    text-align: center;
}

.recette__presentation_ing {
    display: inline-block;
    border-top: var(--thin-border-accent);
    border-bottom: var(--thin-border-accent);
    padding: 0.33em 0 0.5em;
}

.recette__presentation_row {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.recette__presentation_item {
    margin: 0 2em;
}

.recette__presentation_item p {
    margin-top: 0;
}

.recette__actions {
    border-top: var(--thin-border);
}