/* ==========================================================================
   Containers
   ========================================================================== */

.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding-left: calc(var(--space-unit) * 1);
    padding-right: calc(var(--space-unit) * 1);
}

.container--large {
    max-width: 1440px;
}



@media screen and (min-width: 981px) {
    .container--2col {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .container--2col > div {
        flex: 1 0 50%;
    }
    
    .container--2col > div.padding-left--l {
        padding-left: calc(var(--space-unit) * 5);
    }
    
    .container--2col > div.padding-right--l {
        padding-right: calc(var(--space-unit) * 5);
    }
}

/* ==========================================================================
   Grids
   ========================================================================== */

.grid {
    display: grid;
}

.grid--12 {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
}

/* ==========================================================================
   Blocks
   ========================================================================== */

.section {
    padding-top: calc(var(--space-unit) * 3);
    padding-bottom: calc(var(--space-unit) * 3);
}

.section--pb {
    padding-top: calc(var(--space-unit) * 3);
    padding-bottom: calc(var(--space-unit) * 6);
}

.section--large {
    padding-top: calc(var(--space-unit) * 6);
    padding-bottom: calc(var(--space-unit) * 6);
}


/* ==========================================================================
   Alignment
   ========================================================================== */

.is-centered {
    text-align: center;
}


/* ==========================================================================
   Borders
   ========================================================================== */

.has-thin-border-bottom {
    border-bottom: var(--thin-border);
}

.has-thin-border-top {
    border-top: var(--thin-border);
}

.has-thick-border-bottom {
    border-bottom: var(--thick-border);
}

/* ==========================================================================
   Background
   ========================================================================== */

.bg--light {
    background: var(--color-light);
}

/* ==========================================================================
   Spacing
   ========================================================================== */

.margin-top--m {
    margin-top: calc(var(--space-unit) * 2);
}

.margin-top--s {
    margin-top: calc(var(--space-unit) * 1);
}

/* ==========================================================================
   Links
   ========================================================================== */

.is-link--body {
    display: inline-block;
    transition: var(--transition-duration);
    background-image: linear-gradient(var(--color-accent-light), var(--color-accent-light));
    background-size: 100% 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.is-link--body:hover {
    background-size: 100% 90%;
}